
            <div class="fs-40px font-m w-100 lh-1">Редактирование категории расходов</div>

            <form class='d-flex flex-column gap-20px px-1 mt-4 pt-3' style="max-width: 405px;">


                <div class="input-group">
                    <input id="credit_edit_name" type="text" class="form-control" style="border-radius: 0 5px 5px 0"
                           placeholder="Название...">
                    <span id="name-error" class="error invalid-feedback" style="">Поле должно быть заполнено</span>
                </div>

                <div class="d-flex gap-10px">
                    <button type="button" class="btn btn-success font-m fs-14px px-3 py-2" id="save_btn">
                        Сохранить
                    </button>
                    <a href="credit" type="button" class="btn btn-danger font-m fs-14px px-3 py-2">
                        Отмена
                    </a>
                </div>

            </form>
