<div class="fs-40px font-m w-100 lh-1">Расходы</div>
<div class="d-flex gap-20px flex-wrap mt-4 pt-3">

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Еда</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Жильё</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Здоровье</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Кафе</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Авто</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Одежда</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Развлечения</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Счета</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block">
        <span class="font-m w-100 lh-1">Спорт</span>
        <button type="button" class="btn btn-primary font-m fs-14px px-3">
            Редактировать
        </button>
        <button type="button" class="btn btn-danger font-m fs-14px px-3">
            Удалить
        </button>
    </div>

    <div class="content-category-block d-flex align-items-center justify-content-center">
        <span class="font-m" style="color: #ced4da;">+</span>
    </div>
</div>

<div class="popup d-none">
    <div class="popup-info mx-1">
        <div class="popup-text">
            <div class="font-m w-100 lh-1 mb-3 pb-1">Вы действительно хотите удалить категорию? Связанные расходы останутся без категории.</div>
            <div class="d-flex gap-12px justify-content-center">
                <button type="button" class="btn btn-success font-m fs-14px px-3 py-2">
                    Не удалять
                </button>
                <button type="button" class="btn btn-danger font-m fs-14px px-3 py-2">
                    Да, удалить
                </button>
            </div>
        </div>
    </div>
</div>
