
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: RobotoMedium;
    src: url("../static/fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../static/fonts/RobotoRegular.ttf");
}

body {
    font-family: RobotoRegular, sans-serif;
    color: #052c65;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.form-control::placeholder {
    color: #6c757d;
    font-size: 15px;
    line-height: 24px;
}
.input-group.is-invalid{
    border:1px solid red;
    border-radius: 5px;
}

.font-m {
    font-family: RobotoMedium, sans-serif;
}

.container-form {
    max-width: 405px;
    min-height: 100vh;
    padding: 20px 0;
}

.input-group-text {
    width: 38px;
    height: 38px;
    background-color: #E9ECEF;
}

.mb-10px {
    margin-bottom: 10px;
}

.gap-10px {
    gap: 10px;
}

.gap-12px {
    gap: 12px;
}

.gap-20px {
    gap: 20px;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-15px {
    font-size: 15px;
    line-height: 24px;
}

.fs-40px {
    font-size: 40px;
}

.layout-content {
    padding-left: 60px;
    padding-top: 100px;
    width: 100%;
    margin-left: 219px;
}

@media (max-width: 768px) {
    .layout-content {
        padding-left: 30px;
        padding-top: 50px;
        margin:0}
}

.text-base-color {
    color: #052c65 !important;
}

.table > :not(caption) > * > * {
    padding: 0.75rem 0.5rem;
}

input.no-icon[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup-info {
    background-color: white;
    padding: 40px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    max-width: 530px;
    /*max-height: 184px;*/
    box-sizing: border-box;
}

.popup-text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #290661;
}

.content-category-block {
    border: 1px solid #ced4da;
    border-radius: 12px;
    width: 352px;
    height: 121px;
    font-size: 28px;
    color: #290661;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.container-sidebar {
    border-right: 1px solid #D9D9D9;
    font-size: 14px;

    .logo-sidebar {
        padding: 40px 70px 4px 50px;
        }

    .nav-sidebar {
        padding: 46px 20px 4px 20px;
        /*border-bottom:1px solid #D9D9D9 ;*/
    }

    .link-dark {
        color: #052c65 !important;

        svg {
            path {
                fill: #052c65 !important;
            }
        }
    }

    .dropdown {
        padding: 20px 20px 40px;
    }
}

.nav-collapse:hover {
    border: 1px solid rgb(13, 110, 253);
    border-radius: 5px;

 }
.nav-collapse.active{
    border: 1px solid rgb(13, 110, 253);
    border-radius: 5px;

    .active {
        border-radius: 0 !important;
    }

}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    /*font-weight: 600;*/
    color: #052c65;
    /*color: rgba(0, 0, 0, .65);*/
    background-color: transparent;

    svg {
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }
}

.btn-toggle.active {
    border: 1px solid rgb(13, 110, 253) !important;
     color: white !important;
     background-color: rgb(13, 110, 253);
    border-radius: 5px;

    svg {
        path {
            fill: white;
        }
    }
}


.btn-toggle[aria-expanded="true"] {

    svg {
        margin-top: 3px;
        margin-right: 5px;
        transform: rotate(90deg);
    }
}

.btn-toggle[aria-expanded="true"]:hover {
    border-radius: 5px 5px 0 0;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

a.nav-link:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

/*.scrollarea {*/
/*    overflow-y: auto;*/
/*}*/
