
            <div class="fs-40px font-m w-100 lh-1 pb-1">Главная</div>
            <!--            <div class=" ">-->

            <div class="d-flex gap-20px align-items-center my-5 py-2">
                <button type="button" class="btn btn-secondary font-m px-3" style="width: 100px;">
                    Сегодня
                </button>

                <button type="button" class="btn btn-outline-secondary font-m px-3" style="width: 100px;">
                    Неделя
                </button>

                <button type="button" class="btn btn-outline-secondary font-m px-3" style="width: 100px;">
                    Месяц
                </button>

                <button type="button" class="btn btn-outline-secondary font-m px-3" style="width: 100px;">
                    Год
                </button>

                <button type="button" class="btn btn-outline-secondary font-m px-3" style="width: 100px;">
                    Все
                </button>

                <button type="button" class="btn btn-outline-secondary font-m px-3" style="width: 100px;">
                    Интервал
                </button>
                с <input class="border border-0 no-icon" style="width: 80px" type="text" placeholder="Дата" onfocus="(this.type='date')">
                по <input class="border border-0 no-icon" style="width: 80px" type="text" placeholder="Дата" onfocus="(this.type='date')">
           
            </div>
