<div class="fs-h1 font-m w-100 lh-1 pb-1">Главная</div>

<div class="time-block d-flex gap-20px align-items-center my-lg-5 py-lg-2 my-3 flex-wrap w-100">
<div>
    <input type="radio" class="btn-check" name="period" id="today_btn" autocomplete="off" checked>
    <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="today_btn">Сегодня</label>
</div>
 <div>
     <input type="radio" class="btn-check" name="period" id="week_btn" autocomplete="off">
     <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="week_btn">Неделя</label>
</div>
 <div>
     <input type="radio" class="btn-check" name="period" id="month_btn" autocomplete="off">
     <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="month_btn">Месяц</label>
</div>
 <div>
     <input type="radio" class="btn-check" name="period" id="year_btn" autocomplete="off">
     <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="year_btn">Год</label>
</div>
 <div>
     <input type="radio" class="btn-check" name="period" id="all_btn" autocomplete="off">
     <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="all_btn">Все</label>
</div>
 <div class="d-flex gap-20px align-items-center" >
     <input type="radio" class="btn-check" name="period" id="interval_btn" autocomplete="off">
     <label class="btn btn-outline-secondary font-m" style="width: 100px;" for="interval_btn">Интервал</label>
 </div>
    <div>
     с <input class="border border-0 no-icon" type="date" placeholder="Дата" id="interval_date1">
     по <input class="border border-0 no-icon" type="date" placeholder="Дата" id="interval_date2">
</div>

</div>
<!--Диаграммы -->
    <div class="block-canvas d-flex flex-wrap w-100">
        <div style="text-align: center; width: min(437px,100%);" >
            <span style="font-size: 24px;">Доходы</span>
                           <!--             сообщение если операции не найдены-->
                <div class="content-category-block mx-auto" style="margin: 50px 0 60px" id="debit_info">Данные за этот период
                    отсутствуют
                </div>
                <!--            тело диаграммы доходы-->
                <canvas id="debit-pie"></canvas>

        </div>
        <div class="line border-end"></div>
        <div style="text-align: center; width: min(437px,100%);">
            <span style="font-size: 24px;">Расходы</span>
                <!--             сообщение если операции не найдены-->
                <div class="content-category-block mx-auto" style="margin: 50px 0 60px" id="credit_info">Данные за этот период
                    отсутствуют
                </div>
                <!--            тело диаграммы расходы-->
                <canvas id="credit-pie"></canvas>

        </div>
    </div>

