
            <div class="fs-40px font-m w-100 lh-1">Редактирование категории доходов</div>

            <form class='d-flex flex-column gap-20px px-1 mt-4 pt-3' style="max-width: 405px;">

                <div class=" ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Название...">
                    </div>
                    <span id="name-error" class="error invalid-feedback" style="">Поле должно быть заполнено</span>
                </div>

                <div class="d-flex gap-10px">
                    <button type="button" class="btn btn-success font-m fs-14px px-3 py-2">
                        Сохранить
                    </button>
                    <a href="debit" type="button" class="btn btn-danger font-m fs-14px px-3 py-2">
                        Отмена
                    </a>
                </div>

            </form>
