<div class="container-form d-flex flex-column justify-content-center text-center m-auto">
    <div>
        <div class="login-logo pb-1 mb-5">
            <a href="#"><img src="images/logo.png" alt="logo"></a>
        </div>
        <h1 class="pt-2 pb-1 mb-3 font-m fs-h1">Вход</h1>

        <div class="error invalid-feedback text-center mb-3" id="common-error">Не правильный email или пароль</div>
        <form class='d-flex flex-column gap-10px px-1'>

<!--            <div class=" ">-->
                <div class="input-group">
                    <span class="input-group-text" ><img src="images/mail.png"></span>
                    <input type="email" class="form-control" style="border-radius: 0 5px 5px 0" placeholder="Электронная почта" aria-label="email"
                           aria-describedby="email" id="email">
<!--                </div>-->
                <span class="error invalid-feedback text-start" style="">Введите корректный E-mail</span>
            </div>

<!--            <div class=" ">-->
                <div class="input-group">
                    <span class="input-group-text" ><img src="images/lock.png"></span>
                    <input type="password" class="form-control" style="border-radius: 0 5px 5px 0" placeholder="Пароль" aria-label="password"
                           aria-describedby="password" id="password">
<!--                </div>-->
                <span class="error invalid-feedback text-start" style="">Заполните пароль</span>
            </div>

            <div class="d-flex align-items-center gap-2 mb-10px" >
                <input type="checkbox" id="remember-me">
                <label class="fs-12px ps-1" style="color: #000;" for="remember-me">
                    Запомнить меня
                </label>
            </div>

            <button type="button" class="btn btn-primary btn-block w-100 font-m fs-15px mb-10px" id="process-button">
                Войти
            </button>
        </form>


        <div class="social-auth-links d-flex fs-12px gap-10px" style="color: #000;">
            Ещё нет аккаунта?
            <a href="sign-up">
                Пройдите регистрацию
            </a>
        </div>
    </div>
</div>
